[2021-12-22 09:43] theo-cox opened #22 "[Epic] T1 2022 Comms Drive"
## Description

We are aiming to supercharge our comms in 2022. This requires a bunch of actions to fulfill on our targets. Lets bang em out.

- [Comms Strategy for T1](https://docs.google.com/document/d/1eZBU49CwB1vjbES_Tm6kbR2Yhxmg1LtrIjbTE1wh2JA/edit#)
- [Content Mastersheet](https://docs.google.com/spreadsheets/d/1M3nqhszdQDYZeSHPttAevfsr0u9x_irLit9S-oUSzO0/edit#gid=1779022686)
- [Comms Analyt

[2022-01-18 03:22] nathenf opened #1 "To Do"
- [ ] Welcome email journey created for new subscribers - What do we want to direct people to in the first instance? @Theo to consider points and draft.
- [ ] Create SOP for Youtube Video Upload

[2022-01-18 11:25] theo-cox opened #2 "Welcome journey for new newsletter subscribers"
## Acceptance

- [ ] Welcome journey drafted
- [ ] Welcome journey implemented in our newsletter platform

## Tasks

- [ ] Draft bullets for welcome journey text **@theo-cox**
- [ ] Write up full welcome journey
- [ ] Implement welcome journey

[2022-01-18 11:26] theo-cox commented on #2
@nathenf see here for the issue for this task. Click edit to view how I've written it. In general we want a new issue for each discrete task.

[2022-01-18 12:02] theo-cox opened #3 "New comms equipment for residencies"
We need proper equipment to capture photos and videos from residencies and events.

## Acceptance

- [ ] Equipment purchased and present in France
- [ ] Howto guide created and shared

## Tasks

- [ ] Find a phone to record **@nathenf recommended an iphone 11, and this appears to be a good deal: https://www.backmarket.co.uk/second-hand-iphone-11-64-gb-purple-unlocked/290062.html?shopping=gmc&gclid

[2022-01-18 12:03] theo-cox commented on #3
@nathenf could you review these and confirm they seem solid recommendations to you. @rufuspollock from prior conversations I believe I'm empowered to just pull the trigger on this when I'm happy but tagging here for visibility and to give an opportunity for input

[2022-01-18 19:10] rufuspollock commented on #3
@theo-cox i've already provided an older iphone i just found.

[2022-01-19 03:35] nathenf commented on #2
@theo-cox  Okay makes sense. And I guess acceptance is to tick once it has been completed?

[2022-01-19 03:50] nathenf commented on #3
@rufuspollock what Iphone is it? There is a huge jump in quality from 9 to 10 which really makes a difference.

@theo-cox I believe the link for the tripod is only the Tripod mount and not a tripod itself. This would be suitable: https://www.amazon.co.uk/YOTOCversion-Bluetooth-Cellphone-Compatible-Samsung/dp/B08RYJTT13/ref=sr_1_3?crid=1CWMAY339ALGR&keywords=phone+tripod&qid=1642563825&sprefix=phon

[2022-01-19 09:30] rufuspollock commented on #3
@nathenf i think it is an iphone 9 but not sure. How do you tell?

[2022-01-19 09:45] theo-cox commented on #3
@nathenf thanks re mic, and assuming we'll need a 3.5 jack to lighting adapter in that case. Re tripod, it's because we already have a tripod just not the adapter to fit a phone.

@rufuspollock there will be distinguishing physical features which should be ascertainable via googling. There wasn't actually a 9, it went from SE to X (ie 10). Big visible marker between these two is former has a physi

[2022-01-19 10:50] theo-cox opened #4 "Podcast series"
[Planning & Strategy Document](https://docs.google.com/document/d/1PbygQiZNECMJ3ZxGbLP3ZcMhZR4BLoJg0TBcpdZR2yA/edit?usp=sharing) - UNDER CONSTRUCTION

We floated the idea in https://github.com/life-itself/labs/issues/17 but these were somewhat undirected, and the series hasn't really taken off. I'm therefore forking the podcast bit here, and suggest we keep the former issue just as an Imaginary So

[2022-01-19 10:54] theo-cox commented on #4
@rufuspollock @nathenf flagging here for visibility. This is something I will be taking forward unless overruled, and we can discuss in our next strategy meeting the point on roles and other bits.

[2022-01-20 03:08] nathenf commented on #4
Yep I agree going for two. When we spoke I meant only the residency hosts not the participants, better to go after the thought leaders. However, if we go ahead with this soon I would recommend we begin with Rupert and use this to promote the residency.

[2022-01-20 03:26] nathenf commented on #3
Oh yeah it wasn't called 9! I know Julie is using it now, so we can wait to see the quality before going ahead with the phone investment, she will be sending videos in the coming days.

Good point about the lightning adaptor, maybe just go for the one that plugs directly in then. What do you think?

[2022-01-25 07:46] nathenf opened #5 "Clean Up Database Spreadsheet & Build Out"
Apart from the people tab of the network database, it is quite empty and untidy. This can be cleaned up and slowly built out with contacts such as publications, podcasts, projects etc.

https://docs.google.com/spreadsheets/d/1JDDIGIU9eluTRs0K5zvkNJKPyc4RWROK7q_ChJTxyT4/edit#gid=1139431819

## Acceptance

- [ ] @theo-cox confirms that the spreadsheet is clean and useful
- [x] Lists are built out wi

[2022-01-25 07:50] nathenf opened #6 "January Newsletter"
## Acceptance

- [x] Newsletter sent out on 31st January

## Include

- [x] Berlin update
- [x] Sympoiesis 3 - we’ve got pics + Julie is writing a reflection blog (due today) + Video testimonials
- [x] Advertising next residencies
- [x] Ecosystem mapping - Theo to Nag Rufus/Khalil to push update before next Monday
- [x] Blogs - we finished WPF last year, see blogs

[2022-01-25 08:04] nathenf opened #7 "Create SOP for blog SEO and update blog"
## Acceptance

- [x] SOP is created and reviewed by @theo-cox
- [x] Blog posts have been updated with meta-description and feature image

## Tasks

- [x] Write draft of SOP - https://docs.google.com/document/d/1v6HgJEZINhnsxrHamHgZ26Fdc-ee8GWabb8zfbTBCYc/edit#
- [x] Create Spreadsheet for Blog Posts - Added to LI Content Mastersheet under Blog Summaries
- [x] Update Feature images and meta-descrip

[2022-01-25 08:11] nathenf opened #8 "Promotion for Eco-Spirituality Residency"
## Acceptence

- [ ] Residency begins

## Tasks

- [ ] Create promo video (IG format & Youtube)
- [ ] Get Advaya to share as a post and video

[2022-01-25 08:13] nathenf opened #9 "Promotion for Culture Broth retreat"
## Acceptance

- [x] Culture Broth begins

## Tasks

- [x] Discuss with Valerie - New actions to come
- [x] Valerie to record an audio - We will do this for the workshop in April not for the Feb one
- [x] Make posts for IG/FB/TW - Posting today

[2022-01-25 08:14] nathenf opened #10 "Promotion for Collective Intelligence Residency"
## Acceptance

- [ ] CI Residency begins

## Tasks

- [x] @theo-cox to talk to MIC about making an audio to create a promo video
- [ ] Posts for IG/FB/TW

[2022-01-25 08:17] nathenf commented on #1
@theo-cox should we use this for small 1 action tasks, or do you prefer we just make notes on the project board? If the latter I propose we close this issue

[2022-01-25 09:07] theo-cox commented on #1
@nathenf I think the latter. Given that, see below for indicator of how to close the issue.

[2022-01-25 09:08] theo-cox commented on #1
WONTFIX. One of these done and one moved to #2

[2022-01-25 09:08] #1 closed

[2022-01-25 16:32] theo-cox opened #11 "Finish editing for Web3 YouTube Video and upload"
The Web3 discussion is uploaded but private as it needs a title, thumbnail and (maybe) call to action to subscribe at the end. I've also made some improvements to the description but these may need reviewing and adding to (I haven't had time to watch the full thing to add timestamps, for eg) https://studio.youtube.com/video/bBP5cKAbAug/edit

## Acceptance

- [x] Video live
- [x] Thumbnail added
-

[2022-01-26 00:28] nathenf commented on #11
I've also scheduled a post on Twitter about it

[2022-01-26 02:34] nathenf commented on #5
@theo-cox is this already merged into the database? It is probably quite a task, but if it isn't it might be worth doing? https://docs.google.com/spreadsheets/d/1QJpTHWr9RKZGFaKjIR6itpQqQlGJNfXmoR8nFw-72EU/edit#gid=0

[2022-01-26 05:38] nathenf opened #12 "Getting On Podcasts"
Just as much as creating our own podcast will build brand awareness, getting on other podcasts will this as well and give us more content to share. Being feature builds reputation fast and can lead to a strong momentum of growth.

## Acceptance

- [ ] First Podcast Feature Published
- [ ] Other Interviews Lined Up
- [ ] SOP for Podcast Collaborations created

## Tasks

- [x] Create list of potenti

[2022-01-26 05:53] nathenf opened #13 "Blog and Publication Features"
## Acceptance

- [ ] Get featured on 10 websites (including backlinks)

## Tasks

- [ ] Theo, Rufus, and Liam to sign up for HARO - https://www.helpareporter.com/
- [ ] Search for publications open to guest posts

https://loganix.com/guest-blogging-opportunities/

[2022-01-26 10:19] theo-cox commented on #5
I'm not sure as this was before my time. If you copy the tab to the main CRM sheet then I think you can cross reference and see? From a first pass think there's some overlap but likely some stuff that's also not on there, but don't quote me on that

[2022-01-26 10:27] theo-cox commented on #3
@rufuspollock nudge on this as it will determine next steps

[2022-01-26 11:46] theo-cox opened #14 "Priority YouTube Videos"
We have a few YouTube videos which I think we should prioritise to design in our new format, or do something else with.

The two with Roberto Unger from 2019 I think should be processed in our new style, as he's a big name thinker and the interview is our most viewed video.

The Gathering 2019 is just a really well shot video - unsure of what to do with it but it's worth having in our back pocket

[2022-01-27 02:45] nathenf opened #15 "Centralizing Residency Content"
I have created a space in the comms folder to attempt to centralize all the content that we have available for the residencies and to create order moving forward. This will be a space for us, but also any participants who want to share photos/videos etc.

It would be good to have a team effort on shifting all content from previous residencies into the folders and then using them from now on as wel

[2022-01-27 05:48] nathenf commented on #6
@theo-cox this is in draft, please review and make any suggestions for improvement or additions

[2022-01-27 09:18] theo-cox commented on #15
Happy to take your lead on this @nathenf so if you feel this is the best way to go then let's do it. My 2c, however, is that it would be easier and more intuitive to have content folders in the folder for each Sympoiesis residency rather than separate from all the rest of the content. To me the problem to fix is that there's nothing in the sub-folders here: https://drive.google.com/drive/folders/1

[2022-01-27 09:46] theo-cox commented on #6
Think this is good content list wise man - Julie's blog has been pushed to this Friday and ecosystem website should also be live by end of the week. Unsure if there's an actual draft for me to review then pls link it if so

[2022-01-28 02:27] nathenf commented on #15
Yeah I can see your point too, although I believe that the content will outlive the rest of the files and then any content we do have from these residencies will be lost for eternity. Since most content from a residency will be used post event it will be much easier to find through the content folder.

Taking both points into account, I would suggest we create the folders in content, but then make

[2022-01-28 02:31] nathenf commented on #6
Hey I don't think I can link it to you, but the draft is in mailchimp under campaigns. I've added in a title for the community gathering so just add it what needs to go there.

[2022-01-28 09:17] theo-cox commented on #15
Happy with that man, thanks for the input!

[2022-01-28 09:22] theo-cox commented on #15
Also @nathenf I have asked Valerie to add the content from Sympoiesis 1 and 2 to the folders (I couldn't find it on the shared drive myself). As you've got most of the Sympoiesis 3 content can you handle that? Cheers

[2022-01-28 14:40] theo-cox commented on #6
@nathenf have reviewed and looks great - thanks so much! I've added a bit about the gathering and also made some minor edits, so take a look and then we're good to go

[2022-01-31 09:34] nathenf commented on #15
I've asked Julie to move the photos from Google photos to the drive.

[2022-01-31 09:40] #6 closed

[2022-01-31 10:11] theo-cox commented on #6
@nathenf one small flag. When we close issues that are complete it's good practice to add some info and then close with comment. In this case it would be something like:

FIXED. We sent this on 31 Jan 2022.

[2022-01-31 10:23] theo-cox opened #16 "Standard Life Itself video opening and closing frames"
Rufus suggested for our videos that we use the thumbnail as an opening frame before the video starts, and create a standard closing image we display at the end for a few seconds giving info like our website.

If you agree this is a good idea, then could you quickly do the closing image in Canva in the same style as the thumbnail/opener?

## Acceptance
- [x] Standard closing frame image made and sa

[2022-02-01 14:58] theo-cox commented on #3
@rufuspollock flagging for visibility that @nathenf has judged the camera and audio on our existing iphone to be of too low a quality to produce quality content. I'm therefore going to progress this as initially discussed.

[2022-02-02 03:05] nathenf commented on #14
@theo-cox the gathering 2019 video should be a promo video for Residencies in general. I think it should have a voiceover and then be placed on the main residencies web page. Thoughts?

[2022-02-02 03:47] nathenf commented on #16
@theo-cox this is not something I can simply add in Youtube, but would have to download the full video, cut it together, export it, and upload again. This is quite a long process so I think the time outweighs the value of adding it on. I also found out that Kapwing has a 1 hour length limit for exports which means it is not so useful for our Youtube videos since they are all over 1 hour long.

I'm

[2022-02-02 04:10] nathenf commented on #16
Actually Canva can work quite well for this, I've done it for the Web3 one now

[2022-02-02 08:38] nathenf commented on #15
@theo-cox https://docs.google.com/document/d/1_W5_6E_0VOPNITXPNDAbUTEN19JELOc4qc3IYURlZUE/edit#heading=h.n8ni6smj8hlv this is now ready to be shared including the storage procedures

[2022-02-02 10:40] theo-cox commented on #15
Perfect, cheers!

[2022-02-02 10:55] theo-cox commented on #12
@nathenf drafted list - let me know if helpful

[2022-02-03 01:52] nathenf commented on #12
@theo-cox thanks. I would like to try and expand this and go into more detail on each persons authority on the talking points

[2022-02-03 02:44] nathenf opened #17 "Optimizing Medium and Adding Articles"
Medium is a great way to link back to our main website and reach a new audience. However, we must share original content here and not content from the website. There are also some alternatives to Medium, which may be valuable to explore as well https://bloggingguide.com/medium-alternatives/.

## Acceptance

- [ ] Medium optimized for use
- [ ] 5 great articles published here
- [ ] Followers increa

[2022-02-03 08:33] nathenf commented on #4
https://riverside.fm/pricing

[2022-02-03 08:35] nathenf commented on #16
Update for this, actually Canva did not work. Everything was going great but when it came to downloading the file Canva can't handle it. Seems web editors can only handle under 1 hour.

I am looking to download Da Vinci Resolve, but the power of my laptop is not ideal for such editing program

[2022-02-03 12:52] theo-cox commented on #16
I'd say if its hugely laborious let's not bother. We can add end screens via YT studio which is a good, low cost way to start IMO

[2022-02-03 21:35] rufuspollock commented on #4
@theo-cox minor issue management point - i don't think we want to fork off and leave another one (we end up drowning in issues). couldn't we just move the old issue here and repurpose i.e. https://github.com/life-itself/labs/issues/17

As an aside: these kind of implementation thing is up to you and Nathen ... though it would be good to finalize the strategy doc to make sense of how this related .

[2022-02-03 21:38] rufuspollock opened #18 "Issue tracking here vs in community repo ..."
Note this repo seems to be quite active now ... but we also have some comms stuff in community repo e.g. https://github.com/life-itself/community/issues/110

Shall we move that here or do we want to just keep stuff in community repo for now ...

[2022-02-03 21:49] rufuspollock commented on #3
@theo-cox ok you know the comms budget - this will be about 5% of our annual budget ...

[2022-02-04 02:02] nathenf commented on #16
I agree, I'll keep searching for a solution though, but in the meantime keep it to a minimum

[2022-02-04 02:46] nathenf opened #19 "February Newsletter"
## Acceptance

- [ ] Newsletter sent out at 1pm on Thursday the 24th

## Include

- [ ] Residency Promos
- [ ] Latest Blog Posts
- [ ] Advaya Course Giveaway
- [ ] Berlin Hub Update

[2022-02-04 02:46] nathenf commented on #19
@theo-cox let's build this out throughout the month if something comes to mind

[2022-02-04 10:47] theo-cox commented on #3
Yes, thanks. I may look into an iphone X rather than 11 to see if that saves, but I think investment in assets like this will do us well in the long term so it is worth it

[2022-02-08 07:11] nathenf opened #20 "Shifting Newsletter Platform"
We discuss previously moving to Sendinblue and away from Mailchimp, but I also came across this platform https://www.getrevue.co/ which is similar to Substack. That means it is free, with an option to build a paywall for certain newsletters we send out. Klavio is another option to explore when the time is right.

For the purposes that we are using Mailchimp now, to send out a monthly Newsletter th

[2022-02-08 07:28] nathenf opened #21 "Promotion for Insight, Interbeing and Science Residency"
https://lifeitself.us/2022/02/07/insight-interbeing-and-science-may-2022/

What: A residency that allows us to collaboratively deepen our contemplative insight, particularly into interbeing, in a spirit of inquiry consistent with science. We can do this best with like-minded people, and will have time for remote working, too. We will look to refine practices together, and deepen our understanding

[2022-02-08 10:50] theo-cox commented on #18
Have transferred the above issue. In general happy for more general content stuff to be in community and this to focus more on comms strategy etc (as per repo description). Community was just too cluttered for Nathen and I to use efficiently in our meetings

[2022-02-08 11:56] EilidhRoss1 commented on #3
@theo-cox there are three options for iphone X: iphone X, XS and XR.
* Iphone XS and X have have the same camera but the XS has new camera features such as Depth Control and advanced bokeh (relates to the quality of the blur in the out-of-focus portions of images). Video capabilities are also similar, but XS has cinematic video stabilization and stereo recording. Iphone XS also has dual sim capabi

[2022-02-09 00:55] nathenf commented on #14
Fixed - All youtube videos now optimized!

[2022-02-09 00:55] #14 closed

[2022-02-09 01:01] nathenf commented on #16
Fixed - Overlays for call to action and end screen made and added to Gdrive
Not Fixed - Need a better computer (and video editing software) to edit the videos effectively. Potentially something we could outsource to a video editor here is Bali it would take them very little time to do. However, not a priority lets focus on making better content first.

[2022-02-09 01:01] #16 closed

[2022-02-09 02:19] nathenf commented on #9
Fixed - Begins today

[2022-02-09 02:19] #9 closed

[2022-02-09 02:22] nathenf opened #23 "Promotion for Conscious Food Workshop"
What: 10-day residency to work and practice around the question of what is food today and how can we create an internal food system which sustains communities collectively and personally. Starts with a 5d intensive workshop led by Valérie Duvauchelle, a formal cook in the Zen tradition and pioneer in conscious food practices for Life Itself. [More info »](https://lifeitself.us/conscious-food-works

[2022-02-09 02:36] nathenf opened #24 "Optimize Qi Gong Article"
About 7% of our total website traffic comes from this one article, but 98% of visitors leave directly from this page. We need to optimize this page to capture their attention.

I propose we create a free small ebook about Qi Gong, which will encourage users to type in their email and name.

## Acceptance

- [ ] Qi Gong eBook created
- [ ] Subscription form added to the article and customer journey

[2022-02-09 02:37] nathenf commented on #24
@EilidhRoss1 @theo-cox made the issue here to move forward with this task

[2022-02-09 03:14] nathenf commented on #3
@theo-cox did you pull the trigger on the mic already? I'm thinking again that perhaps getting a lavalier mic would be better, one that can fit to the phone but also a computer. Moving forward when we are recording calls via Zencastr we should aim to have high quality sound - so we would want to use the mic on the laptop.

[2022-02-09 11:04] theo-cox commented on #3
No haven't copped anything yet. Could you find a well priced mic you think would work and then I can purchase all at once?

[2022-02-09 12:39] EilidhRoss1 commented on #24
@nathenf [Qi Gong article](https://lifeitself.us/2020/05/12/qi-gong-the-eight-precious-exercises/) has been updated with a wee para on how Qi Gong relates to Life Itself and linking it to our Residencies page.

[2022-02-09 12:51] theo-cox commented on #24
Thanks Eilidh! Do you want to have a go at closing the issue using the standard procedure to practice how to do it?

[2022-02-12 11:38] nathenf commented on #24
@EilidhRoss1 perfect, it's great thank you!

[2022-02-15 09:23] theo-cox commented on #10
WONTFIX. MIC didn't respond and this is basically a closed residency anyway.

[2022-02-15 09:23] #10 closed

[2022-02-15 15:31] rufuspollock commented on #24
@nathenf a complementary (and initially simpler) suggestion could be

* We update our blog to have suggested articles (loads of plugins for this)
* Pop-up for newsletter subscribe with e.g. "subscribe to our newsletter and get more suggestions for wiser living like this" (?)

[2022-02-16 06:33] nathenf commented on #3
@theo-cox here is what we should get mic wise. We need an adaptor for the Iphone, but at least we can then use the mic on the laptop as well when recording podcasts. I chose the double mic option as its only $15 more, but it will be handy to have if we want to conduct an interview with two people for example. Or an in-person podcast for that matter.

https://www.amazon.com/Lavalier-Lapel-Microphon

[2022-02-16 07:06] nathenf commented on #24
@rufuspollock yes we should definitely do both of these, although the purpose of this is to get email sign-ups rather than send them directly to other articles. The latter is great and we are working to get lead magnets together (dramatically increases mail sign-up) and then we will roll this out across the website.

[2022-02-16 08:29] nathenf commented on #5
@theo-cox I have just merged the database into this one so everything is in one place. Ready to Close this now if you are good to

[2022-02-16 10:30] theo-cox commented on #5
Thanks. Yes go ahead and we can discuss next steps for the DB in our meeting next week.

[2022-02-22 07:26] nathenf opened #25 "Promotion of Community Gathering March"
The community gathering begins on the 17th of March and we hope to completely fill it.

Currently 5 attendees according to Tito is this correct @rufuspollock and what is the maximum number?

## Acceptance

- [ ] Community Gathering begins on 17th March

## Tasks

- [x] Create script for Promo video - https://docs.google.com/document/d/1KM2TBxJdUt33R1oA_l4q5cd5gat1bsoOHfXeFh50GsU/edit
- [x] Do voic

[2022-02-22 07:36] nathenf commented on #12
Steve Glaveski agreed to interview Rufus for Future Squared Podcast 👍

[2022-02-22 08:50] theo-cox commented on #12
Great!

[2022-02-22 09:50] nathenf opened #26 "Evergreen Blog Content"
We need to have a look through all the blog posts and identify which ones will be useful as evergreen content, that is articles which provide value that is not time sensitive. Once we have identified them we will optimise them following the Blog SOP. This will all be added into the Content Mastersheet.

##Key Documents

[Blog SOP](https://docs.google.com/document/d/1v6HgJEZINhnsxrHamHgZ26Fdc-ee8GW

[2022-02-22 16:58] theo-cox commented on #3
FIXED. We have purchased at a total cost of around £300.

[2022-02-22 16:58] #3 closed

[2022-02-24 04:57] nathenf commented on #2
We can use the great grasping, Liam just needs a few more days to reply to some comments.

[2022-02-27 12:04] rufuspollock commented on #25
@nathenf my 2c but i'm not sure this event is one for the generic kind of promotion as it is more "friends and family" - good example to talk through on our next call to help clarify strategy.

[2022-03-01 03:44] nathenf commented on #19
Completed and Sent out

[2022-03-01 03:44] #19 closed

[2022-03-02 09:01] theo-cox commented on #2
Nah looks great @nathenf thanks!

[2022-03-02 09:27] nathenf opened #27 "March Newsletter"
#Acceptance

- [x] Newsletter sent on Thursday 31st of March at 9am GMT

#To Include

- Upcoming Residencies
- Web3
- Mapping Metamodern Update (This could merge with features in Stoa and Commonweal)
- Latest Articles
- Latest Youtube Videos
- Launching the Podcast
- Features (Stoa, Commonweal, Mourning Talk Podcast, Emerge)
- Updates from the Community Gathering
- Berlin Update

[2022-03-03 03:20] nathenf opened #28 "Connecting Anchor to Distribution Channels"
So far we can distribute the podcast to Spotify and Anchor only. Definitely need to get it on Apple, Google and Overcast. Others are less important.

## Acceptance

- [x] Available on all important platforms

## Tasks

- [x] Set up on Google Podcasts - just awaiting approval, but this is set up now.
- [x] Set up on Apple - For this I need an Apple ID and password to use or I can set one up for Lif

[2022-03-03 03:21] nathenf commented on #28
@theo-cox just need an apple ID to use here, can be yours or one for Life Itself (cannot find it Bitwarden).

[2022-03-03 05:28] nathenf commented on #28
https://anchor.fm/life-itself/ - the 3 Web3 episodes that we created so far are up and the account has been optimized

[2022-03-03 09:50] theo-cox commented on #28
I don't have one @nathenf so if you can set up one for LI that would be great

[2022-03-03 12:55] theo-cox opened #29 "Tweaking our design system"
When I am creating content for Life Itself, I want it to have a consistent design which supports our overall brand and objectives.

@nathenf has observed that currently our design system:
a) Didn't have clear application to some of the content we're making (e.g. YouTube thumbnails) and
b) Didn't convey values like leadership, strength, rigour etc as much as we might like

He's created examples for

[2022-03-03 12:56] theo-cox commented on #29
@rufuspollock see here for design system and @nathenf's thoughts and examples

[2022-03-07 11:01] rufuspollock commented on #29
@theo-cox @EilidhRoss1 @nathenf nathen's suggestions and folder of examples looks great. Let's chat asap to get something relatively finalized.

[2022-03-08 21:39] rufuspollock commented on #29
Extensive analysis yesterday on design system and colors here: https://excalidraw.com/#room=b9581fedec7e9e11a9bf,SFtpYrW6uMxqq6TJMph3tg

Discussion today with nathen and eilidh leading to new "values" plus sense of direction - need to finish writing up (along lines of "alchemy of rigorous idealism")

[2022-03-12 11:48] nathenf commented on #2
Liam is ready for this to go out, but would like someone to proofread the essay. @EilidhRoss1 could you do this? https://docs.google.com/document/d/1DQ8r4wQsIEJljhlCHCTJYQLAQ4MqLgZkNMYnJHd_AIk/edit

[2022-03-14 10:52] theo-cox commented on #29
Guys this is amazing! Love the direction we've gone in for the design system and looking forward to playing around implementing it. Well done all.

[2022-03-14 13:33] EilidhRoss1 commented on #2
@nathen or @lkavanagh30 could I please get access to that document?

[2022-03-15 10:34] theo-cox commented on #29
@nathenf can you add the link to the canva you created for us to review and discuss

[2022-03-15 10:36] theo-cox commented on #29
@rufuspollock note @nathenf has created a suggested iteration of our brand guidelines: https://drive.google.com/file/d/1d162KtAmO0kTN0kWE2SAiGFBUtFx2LPN/view?usp=sharing

This will be one of the things to discuss and review on our deep dive next week

[2022-03-16 03:44] nathenf opened #30 "Template Workflow for Web3 Conversation"
## Acceptance

- [ ] Rufus and Stephen have been updated that conversation is ready to be published on YouTube and Anchor.
- [ ] Page stub has been made and URL generated
- [ ] Conversation published on Youtube & Anchor
- [ ] Blog Post containing all content published
- [ ] Secondary Content and Direct links shared on Social Media

## Tasks

- [ ] Duplicate this Template and rename as the working

[2022-03-16 09:13] nathenf commented on #30
@EilidhRoss1 here is the first run through. Let me know if you have a questions. Let's schedule a call next week for the proper handover

[2022-03-17 09:25] theo-cox commented on #2
@nathenf I think given we are likely/hoping to get lots more traffic to the site from the web3 project, I reckon we just add the singup now and can always retroactivley sort the welcome journey

[2022-03-17 09:27] theo-cox commented on #2
@khalilcodes this is only for when you are fully back and ready to start work again, but could you please have a go at the above task: _Update website with email subscription forms including first name and email - popup window on the website linked to our mailchimp which comes up when people go to leave the site_

[2022-03-18 08:16] EilidhRoss1 opened #31 "Stephen and Rufus episode 4"
## Acceptance

- [ ] Conversation published on Youtube & Anchor
- [ ] Blog Post containing all content published
- [ ] Secondary Content and Direct links shared on Social Media

## Tasks

- [x] Duplicate this Template and rename as the working title of the conversation
- [ ] Create a new folder for the conversation here: TBC **we need to link up on file storage**
- [ ] Source the video file and tr

[2022-03-22 09:15] theo-cox commented on #23
WONTFIX. This unlikely to go ahead anyway.

[2022-03-22 11:39] nathenf commented on #2
Hey @khalilcodes I have made an email journey for the lead magnet and we're ready to go ahead with coding the submission forms into the website. Do you have some availability for a quick meeting this week?

[2022-03-22 11:42] nathenf commented on #28
@EilidhRoss1 I keep needing the code going to your phone, would you mind taking up the task of linking the podcast to Apple? You can just log in to Anchor and follow the podcast availability options, it should be pretty self explanatory. The log in for Apple is in Bit Warden as Apple ID. Once we're linked to Apple I can go ahead with the rest. Thanks!

[2022-03-22 11:53] nathenf opened #32 "Apply for Canva Pro for Free"
https://www.canva.com/help/article/canva-for-nonprofits/

**Organizations that DO NOT qualify for Canva’s Nonprofit Program**

- Organizations that do not have a 501(c)3 designation, but rather a 501(c)4, 501(c)6 or other nonprofit status, do not qualify.
- K-12 schools, colleges and universities. Acceptable exceptions include independent charter schools. Please see our [Canva for Education](https

[2022-03-22 11:55] nathenf opened #33 "Shift all templates, files and branding to LI Canva Profile"
##Acceptance

- [x] Canva is organised and prepared for efficient content creation

##Tasks

- [x] Add Branding to Canva
- [x] Create folders for images and graphics
- [x] Name and organise all templates

[2022-03-22 11:56] nathenf opened #34 "Content Strategy and template for IG Stories"
##Acceptance

- [ ] Strategy and templates created
- [ ] First use of templates

##Tasks

- [ ] Add to LI Content Mastersheet
- [ ] Create graphics

[2022-03-22 12:13] nathenf commented on #25
Fixed - Gathering Completed and Booked out

[2022-03-22 12:13] #25 closed

[2022-03-22 12:14] nathenf commented on #11
Fixed - Youtube Video up

[2022-03-22 12:14] #11 closed

[2022-03-22 12:15] nathenf commented on #8
Fixed - Begins this weekend and promotion is over.

[2022-03-22 12:17] nathenf opened #35 "Quick Wordpress Task"
##Acceptance

- [ ] Residencies Page and Drop down menu fixed

##Tasks

- [ ] Remove old residencies from the drop down menu
- [ ] Add Insight Interbeing and Science to main residency page

[2022-03-22 13:20] khalilcodes commented on #2
@nathenf Sure thing. Send me an invite and we can sync up on this.

[2022-03-24 05:08] nathenf commented on #2
@khalilcodes what is your email, I will invite you to a meeting

[2022-03-24 05:27] nathenf opened #36 "Life Itself Style/Branding Feedback & Iterations"
Moving forward with the branding, let us use this issue to build out and finalise. I know this was initially for design feedback, but good to have all tasks in here for accountability and progress tracking.

**Resources**

- [High Level Mission Statements Excalidraw](https://excalidraw.com/#room=e46b905c3d5981cb6275,sTqBvg1Gdf8UySMibsdiDw)
- [Present Style Guide](https://drive.google.com/drive/fol

[2022-03-24 07:48] nathenf opened #37 "Optimizing Linked In"
Consider Linkedin to be the outward facing lead generator for labs. Everything else that Life Itself does will be sidelined here and a majority focus on targeting organizations, policy makers, etc who need out help.

Question for you @theo-cox, what clients have we already had and what were their pain points? Conscisely what problem can we solve for our audience.

**Key terms for use**: #systemsde

[2022-03-24 08:52] khalilcodes commented on #2
@nathenf khalilcodes@gmail.com

[2022-03-25 08:35] theo-cox commented on #37
@nathenf flagging this is acknowledged, but am putting on backlog to prioritise doing professional content for Labs as this is what we'll be sharing on LinkedIn. Maybe we even have a Labs LinkedIn as it's own thing...?

[2022-03-25 09:01] theo-cox commented on #36
@nathenf have left preliminary comments on the pdf. More to follow via excalidraw etc

[2022-03-25 09:44] theo-cox opened #38 "Nonporift Canva"
Life Itself CIC: https://find-and-update.company-information.service.gov.uk/company/12111144
Charity Registration Number from Charity Commission, CIC Registration Number from CIC Regulator, Articles and Memorandum of Association

https://www.canva.com/help/article/canva-for-nonprofits/

## Acceptance

- [x] We have applied for a nonprofit Canva account ✅  **Applied. Should hear back in 7-10 days**

[2022-03-25 09:45] theo-cox commented on #38
@EilidhRoss1 see here for issue re nonprofit canva. would say medium priority as we just need to get it done before we get charged when our free trial ends

[2022-03-29 08:00] nathenf commented on #35
@EilidhRoss1 I think this is still to do. We need to update the drop down menu: Remove, the old conscious food and Eco-Spirituality and add the latest, emergent dialogue below insight and interbeing. https://lifeitself.us/sympoiesis/7-emergent-dialogue-residency-june-2022/

Also I think we should switch the page around, showing the residencies that have already been completed at the top of the pag

[2022-03-29 08:37] nathenf commented on #37
@theo-cox I think in general we just treat Linkedin as the space for Labs so no need to create a different Linkedin. Let us discuss in the next comms meeting

[2022-03-29 10:27] EilidhRoss1 commented on #35
Yes, sorry the interbeing residency had been added to the drop down but the old stuff hasn't been cleared off and the newest residency hasn't been added on. and yes I 100% agree about re-ordering that page

[2022-03-30 13:28] nathenf opened #39 "Promo for Emergent Dialogue Residency"
Sympoiesis 7: Emergent Dialogue – 6 Jun – 3 Jul 2022

##Acceptance

- [ ]  Residency Begins

##Tasks

- [ ] Collect soundbite from Elizabeth Debold and create promo video for the Residency
- [ ]  Add Promo video to Webpage via youtube and use this across social media and in the Newsletter
- [ ] Have 20-30min interview with Elizabeth and Thomas around the topic of the residency to be published on Y

[2022-03-30 13:30] nathenf commented on #32
Not-fixed - Duplicate Issue so closing this one

[2022-03-30 13:36] nathenf opened #40 "April Newsletter"
##Acceptance

- [ ] Newsletter sent on Thursday 28th of April at 2pm GMT

##To Include

- Upcoming Residencies
- Web3
- Mapping Metamodern Update
- Latest Articles
- Latest Youtube Videos
- Features
- Updates from Eco-spirituality
- Berlin Update

[2022-03-30 13:36] nathenf commented on #27
Fixed - Newsletter Sent Out!

[2022-03-30 13:36] #27 closed

[2022-03-30 13:38] nathenf commented on #31
@EilidhRoss1 can you add this to the comms planning board and update progress. Would be good to organise everything into the correct folder on drive as well. :) Thank you!

[2022-03-31 14:57] EilidhRoss1 commented on #28
Having issues with the Apple ID. Keep on getting told by apple podcasts I can't continue until my apple ID is validated, which, from all the information I can find, it seems like it should be. When I get a moment I'll try get on the phone to apple, as haven't been able to get any help from any FAQs or question boards.

[2022-04-01 13:40] #31 closed

[2022-04-07 14:36] EilidhRoss1 commented on #28
Apple set up has been fixed and done: https://podcasts.apple.com/gb/podcast/the-life-itself-podcast/id1618247766

[2022-04-08 04:41] nathenf commented on #28
It is automatically set up on Overcast as well now! Now we just want to add the RSS feed to the Web3 website. Can you do this @EilidhRoss1 or @rufuspollock? The RSS feed is linked above in the description

[2022-04-09 11:35] rufuspollock opened #41 "Add podcasts to a web page - can add this RSS feed to our webpage https://anchor.fm/s/79b39934/podcast/rss"

[2022-04-09 11:35] rufuspollock commented on #28
@nathenf i wasn't planning to add an RSS to web3 site as not all conversations are web3 related ... However, we could add to life itself website. I'd suggest recording that as a separate task ... and i've taken the liberty of converting that checklist item to a task

[2022-04-11 13:04] nathenf commented on #2
@rufuspollock Khalil needs to access Wordpress to complete this task. Is there something you would like to do first before we go ahead with this?

[2022-04-11 13:12] theo-cox commented on #2
@nathenf I have added Khalil to WP. @khalilcodes I'll whatsapp yo your temporary password

[2022-04-11 13:17] nathenf commented on #28
@rufuspollock definitely sounds reasonable. However, we can embed individual episodes on the Web3 site. I think if we are providing this extra form of content we should at least have direct links to it for people to navigate to. Last month we had about 230 plays on podcasts and although I can't find this information I can guarantee people who listen to the podcast will listen longer vs watch Youtu

[2022-04-12 08:35] theo-cox commented on #35
FIXED. Menu adjusted. Agree on the comment re residencies page @nathenf @EilidhRoss1 so let's do that. Also a prime example of something you definitely don't need my sign-off to do!

[2022-04-13 07:07] nathenf opened #42 "Edit Residencies Page"
@EilidhRoss1 let's action this and move the residencies page around to prioritize upcoming residencies near the top of the page.

##Acceptance

- [x] Residencies page is optimized to show current residencies at the top ✅ [**Done**](https://lifeitself.us/sympoiesis/)

##Tasks

- [x] @EilidhRoss1 can you make this change? ✅

[2022-04-13 12:52] rufuspollock commented on #2
@theo-cox can we add a job story (from the point of view of a user - not us) to this issue to clarify for @khalilcodes and I. Also are there 2 things here (also maybe one is a separate issue - i couldn't see)

- [ ] Have a sign-up form for our newsletter (preferably in pop-up form or similar on our blog etc)
- [ ] Have a "lead magnet" e.g. sign up to get X

Overall, it would be helpful to have the

[2022-04-13 12:52] rufuspollock opened #43 "Website has email subscription forms including first name and email"
**Job story:** when I am viewing great content on the LI site I want to easily be able to sign up for their newsletter (in a manner that safeguards against me forgetting to do so before I leave) so that I can be sure to keep up with what they're up to as an organisation in the future.

**Hypothesis:** Having our newsletter signup option present in this way will significantly increase the translati

[2022-04-13 14:31] EilidhRoss1 commented on #38
Have got in touch for further guidance on why we did not meet their eligibility criteria and asking to know if there's any further documentation they need. Have had another look at their eligibility criteria and I'm thinking the reason we might have been declined is because we need to demonstrate that we are not making a profit. [See the screenshot here](https://drive.google.com/file/d/1ek9qbQCFVR

[2022-04-13 14:38] theo-cox commented on #38
FIXED. Our application has since been approved.

[2022-04-13 14:38] #38 closed

[2022-04-13 15:22] theo-cox commented on #2
@rufuspollock @khalilcodes job story and hypothesis done (sans numerical figure as this would have been completely arbitrary given my knowledge). @nathenf given this was your idea and issue originally please confirm this is ok.

P.s. its only implementing the signup for as per #43 that you and Khalil need to worry about. Lead magnet has been sorted by comms team, just needs final proofing I believ

[2022-04-14 06:46] nathenf commented on #2
@theo-cox @rufuspollock @khalilcodes  to clarify, yes there are going to be two types of sign-up form on the website - the one from issue #43 which I suggest we put in the footer like this design [here](https://drive.google.com/file/d/16r1oAOoqjdNseeTajbAWVLvA6Acd8KvQ/view?usp=sharing). This will then be on every page and agree with above job story.

Secondly we will have sign-up forms for the lea

[2022-04-14 07:20] nathenf commented on #29
Not fixed - we are continuing mission on other issue #36 where iterations and main resources are.

[2022-04-14 07:20] #29 closed

[2022-04-14 07:29] nathenf commented on #28
fixed - Podcasts are available on Apple, Google, Spotify and Overcast. Adding to LI website has been moved to issue #41

[2022-04-14 07:29] #28 closed

[2022-04-14 08:41] EilidhRoss1 commented on #21
@lkavanagh30 and I recorded a 25 min chat about the upcoming residency. it has been published to [Youtube](https://youtu.be/ojKz0eFnWMo). @nathenf is going to tweet about the video. Next task is to pull some shorter segments from the long video for social media

[2022-04-14 09:02] nathenf commented on #5
fixed - this is done

[2022-04-14 09:02] #5 closed

[2022-04-15 14:13] rufuspollock opened #44 "Design System for Web for Life Itself Labs (and Life Itself)"
## What's this about ?

The Life Itself projects are gradually growing, as a result of which it is proving difficult to maintain a standard design structure that co relates with all the new and existing projects. Moreover, we have to rethink from scratch about the core design factors to be used when creating newly related projects. This not only consumes a lot of time and effort on all teams invol

[2022-04-15 14:16] rufuspollock opened #45 "Create assets repo and assets.lifeitself.org for hosting common image and static assets"

[2022-04-20 00:15] nathenf commented on #33
fixed - Canva files shifted and sorted from my account. We are now good to go I will update you @EilidhRoss1 on file sorting and efficient use of Canva

[2022-04-20 00:15] #33 closed

[2022-04-20 00:18] nathenf commented on #23
Fixed - 9 people attending the workshop which Valerie is happy with. I believe zero came from our efforts except perhaps the promo video Valerie was able to share with her network. General lack of communication between residency lead and comms made for a poor collective effort to market. In addition, marketing to a French audience is difficult for us.

[2022-04-20 00:18] #23 closed

[2022-04-20 08:17] EilidhRoss1 opened #46 "Stephen and Matthew Ranger Interview"
## Acceptance

- [x] Rufus and Stephen have been updated that conversation is ready to be published on YouTube and Anchor.
- [x] Conversation published on Youtube & Anchor **https://web3.lifeitself.us/notes/a-macroeconomics-perspective-on-cryptocurrencies**
- [x] Secondary Content and Direct links shared on Social Media

## Tasks

- [x] Duplicate this Template and rename as the working title of th

[2022-04-20 10:34] EilidhRoss1 opened #47 "Rufus & Cory Doctorow Conversation"
## Acceptance

- [X] Rufus and Stephen have been updated that conversation is ready to be published on YouTube and Anchor.
- [X] Conversation published on Youtube & Anchor **https://web3.lifeitself.us/notes/cory-doctorow-on-blockchain**
- [X] Secondary Content and Direct links shared on Social Media

## Tasks

- [x] Duplicate this Template and rename as the working title of the conversation
- [x]

[2022-04-22 08:47] rufuspollock commented on #44
@khalilcodes can you update here with progress so far?

[2022-04-23 00:43] nathenf commented on #43
@rufuspollock this is same as #43 happy to merge them?

[2022-04-23 00:54] nathenf opened #48 "Create Comms/Basic Web FAQ Spreadsheet"
I think it would be really useful to have an ongoing FAQ sheet for simple answers (can also link to youtube videos) for questions regarding comms and basic website updating. For example, "What dimensions should an image be on Twitter?" or "How do I add timestamps to a Youtube video".

The intention is that this will improve our workflow as we can first turn to the FAQs before needing advice elsewh

[2022-04-23 00:56] nathenf commented on #48
@theo-cox @rufuspollock - I just came up with this idea but wanted to run it by you first before taking action. I think it could be a really useful resource, especially for creating consistency with dimensions, file sizes, etc. Let me know your thoughts.

[2022-04-23 11:28] rufuspollock commented on #43
@nathenf this *is* issue #43? So it would be merging to this issue? I specifically split this out from #2 which is a broader epic.

[2022-04-25 11:16] rufuspollock commented on #44
We have agreed that simplest next step is to do a mockup of labs page in penpot so we can see the options in action.

[2022-04-25 11:37] theo-cox commented on #24
WONTFIX. We don't have capacity for this right now given other mission critical stuff.

[2022-04-25 11:37] #24 closed

[2022-04-25 11:41] theo-cox commented on #48
I think the more stuff we can capture via standard process the better as it reduces the time you spend on answering questions and builds in resilience if we need to do stuff without you. So I would say do it - and probs not worth waiting on a response to Rufus to get going, especially given this is your domain to make the call.

[2022-04-25 23:30] nathenf commented on #43
Ah yes, I mean #2 apologies. Since we have defined the job story and hypothesis for both this issue and the larger task in #43 and this I feel is more of a subtask of the other issue.

[2022-04-26 07:52] EilidhRoss1 commented on #26
Have allocated an hour on Fridays to go through blog posts for evergreen material. Have been adding to [this sheet](https://docs.google.com/spreadsheets/d/1M3nqhszdQDYZeSHPttAevfsr0u9x_irLit9S-oUSzO0/edit#gid=1287501233).

[2022-04-26 07:59] EilidhRoss1 commented on #42
Can get on this today. I propose splitting the residencies into 'Upcoming Residencies' and 'Past Residencies', with upcoming at the top of the page and then past residencies being listed in reverse chronological order (most recent at the top).

[2022-04-26 16:52] rufuspollock commented on #43
@nathenf this is a distinct subtask e.g. we can have signup on the lifeitself site without any "offer" etc (in fact that is the KISS solution) hence separating as distinct issue (plus found #2 getting a bit overwhelming for me and @khalilcodes as what was tech work). Happy for you to manage as you wish of course. ...

[2022-04-27 00:15] nathenf commented on #43
@rufuspollock I've now updated both to make them more clear and defined

[2022-04-27 00:50] nathenf commented on #41
FIXED - Hangouts menu item replaced for Podcast on Life Itself Website

[2022-04-27 00:50] #41 closed

[2022-04-27 03:22] nathenf commented on #30
@EilidhRoss1 i've adding creating a content and chapters on youtube like this: https://www.youtube.com/watch?v=pvkTC2xIbeY it was requested in a previous video and I believe will improve the watch time.

[2022-04-27 03:33] nathenf commented on #47
@EilidhRoss1 when you can please can you add chapters to the youtube video? I think this is a really important video so worth us doing the chapters. https://www.youtube.com/watch?v=pvkTC2xIbeY Thank you!

[2022-04-27 08:06] EilidhRoss1 commented on #40
@nathenf That's everything in the newsletter now. We don't have an update on the mapping metamodern project as there's nothing to update on, but apart from that everything listed is in there. Can you give it a look over?

[2022-04-27 09:32] EilidhRoss1 commented on #47
@nathenf done: https://www.youtube.com/watch?v=1eUMD5MoQdo&ab_channel=LifeItself

[2022-05-02 07:08] nathenf commented on #4
FIXED - podcast is up and running with post-interview procedure in place

[2022-05-02 07:08] #4 closed

[2022-05-02 23:59] nathenf opened #49 "[Epic] Life Itself Website Restructure"
**Job Story**
When people come to our website they want to be able to easily navigate to our most recent work and initiatives. They want to be taken on a journey which encourages them to explore the whole website or at least find a number of things that they are interested in. From the homepage they should instantly get a feel for what Life Itself is and what it can offer. They also want to easily

[2022-05-03 07:46] EilidhRoss1 commented on #42
FIXED. Residencies page updated and optimized to show upcoming residencies at top of page

[2022-05-03 07:47] EilidhRoss1 commented on #42
FIXED. Residencies page updated and optimized to show upcoming residencies at top of page https://lifeitself.us/sympoiesis/

[2022-05-03 07:47] #42 closed

[2022-05-04 08:52] EilidhRoss1 opened #50 "Bitcoin as an anti-authoritarian force"
## Acceptance

- [x] Rufus and Stephen have been updated that conversation is ready to be published on YouTube and Anchor.
- [x] Page stub has been made and URL generated https://web3.lifeitself.us/notes/bitcoin-as-anti-authoritarian
- [x] Conversation published on Youtube & Anchor
- [ ] Blog Post containing all content published
- [x] Secondary Content and Direct links shared on Social Media

##

[2022-05-04 09:15] nathenf opened #51 "Shifting from individual Google Drives to shared Team Drive"
As our comms work required a lot of storage space for content, we are getting to the point of filling our individual google drives. For the sake of the whole team it would be beneficial if we had a shared drive which we could use.

This article outlines the difference and why shared drive is better: https://www.electric.ai/blog/the-google-team-drive-best-practices-your-business-should-consider-fol

[2022-05-04 09:31] nathenf opened #52 "[Epic] Q2 2022 Comms Mission & Goals"
In Q1 we were able to establish a great content workflow and begin steady growth on Youtube, Twitter & Podcast with a focus on Web3 content.

This quarter we want to expand the proven content strategy to encompass more spaces and LI at large. We also want boost levels of engagement with our audience.

Engage with ecosystem mapping: We want people to at least visit the site and spend time exploring

[2022-05-04 09:31] nathenf commented on #22
Fixed - T1 results in and discussed in Comms meeting shifting overall comms strategy to #52

[2022-05-04 09:31] #22 closed

[2022-05-04 10:09] nathenf opened #53 "Exploring Social Transformation Podcast Plan"
**Job Story**
Learning about the organisations with the Metamodern Ecosystem helps me become more informed about what change is happening, how I can support, or where I can fit in. I can also take inspiration from these conversations and it helps me be inspired by Life Itself and find other ways to interact with Life Itself.

**Resources**
[Ecosystem Mapping Talking Points](https://docs.google.com

[2022-05-05 10:17] rufuspollock commented on #51
@nathenf this would be better in the ops repo than comms i think ...

[2022-05-09 09:14] nathenf commented on #53
@EilidhRoss1 this is a list of people we might want to interview from mapping metamodern based on their influence and following. Take a peek through and see if any take your fancy. I'm very keen to take Rob Hopkins and would love to speak with Satish Kumar as well but otherwise I know very little about these people

[2022-05-09 09:15] nathenf commented on #53
@theo-cox for visibility and your thoughts on this list. Anyone we can access easy etc.

[2022-05-10 07:51] EilidhRoss1 commented on #46
FIXED

[2022-05-10 07:51] #46 closed

[2022-05-10 07:53] EilidhRoss1 commented on #47
FIXED

[2022-05-10 07:53] #47 closed

[2022-05-10 08:43] theo-cox commented on #44
Can we have an alignment chat with @nathenf and I around this please? And in general I'd love to be inputting around this stuff at the jump to avoid wasted effort if we pivot

[2022-05-10 11:02] theo-cox commented on #44
As per chat artboard 7 on the penpot (https://design.penpot.app/#/workspace/e9bb3800-c488-11ec-ab9e-75f6b8214121/edc8d100-c488-11ec-ab9e-75f6b8214121?page-id=edc8d101-c488-11ec-ab9e-75f6b8214121) now represents my preferred direction @khalilcodes @rufuspollock

[2022-05-10 16:16] khalilcodes commented on #44
@theo-cox

### Backstory (this issue):

In order to be consistent, and gradually extend further to all **Life itself** sites, @rufuspollock opened this issue to which I have picked upon and have been working along these lines by using web3 and labs as base projects to iterate. Hence, you can see the pattern of my design choices and why they are similar.

### More info on what we are trying to achi

[2022-05-11 01:39] nathenf commented on #44
Definitely still keen for us to lock in a conversation. Everything you are saying is completely valid but my concern is that we are trying to fit two different websites into the same box. The entire purpose of the Web3 website is different to that of Labs - Web3 is a resource whereas Labs is more a portfolio and landing page.

Furthermore, if we are seeking to use Web3 as a basis to expand across

[2022-05-11 05:56] nathenf opened #54 "[Epic] Instagram relaunch"
**Situation:** Even after posting and engaging on current Instagram we have seen poor adoption and engagement.

**Complication:** The Instagram algorithm has restricted our opportunities for growth due to our engagement rate and potentially inactive followers.

**Question:** How do we increase our engagement such that our posts are seen and we can steadily grow our account?

**Hypothesis:** Restar

[2022-05-11 06:03] nathenf opened #55 "2022 Online Summit Ideas"
**Job Story:** I am looking for a place to get an overview of the metamodern ecosystem and learn about what is out there and network with other people in the space. This should be a focussed space where I can get a lot of information condensed together that gives me the opportunity to explore further as I want.

**Hypothesis:** A virtual summit hosted by Life Itself will be a great way to increase

[2022-05-11 07:00] nathenf commented on #53
@EilidhRoss1 @theo-cox I've added a document for talking points can you take a look and add your thoughts. Currently very simple

[2022-05-11 07:19] nathenf commented on #52
@theo-cox @EilidhRoss1 added what I think our outcomes from the comms effort should be, please add your thoughts as well

[2022-05-11 08:04] nathenf opened #56 "Marketing Strategy For Labs 2022"
**Mission:** A leading "integral* systems" consultancy / think-tank * = outer + inner especially outer => inner

**Goals:** * Profitability while retaining integrity to Life Itself's mission, values and general ethics * Impact in mainstream policy, institutional and business spheres - engaging in a way the mainstream "gets" while steering it towards a new paradigm

**Audience:** Policymakers, busi

[2022-05-11 11:27] theo-cox commented on #44
Thanks for helpful comments @khalilcodes and @nathenf. Agree on the points re consistency, and acknowledge particularly that you haven't had enough info up until now regarding the purpose of the Labs website, and the Labs brand identity more broadly.

I'm therefore going to put some time in for the 3 of us to discuss how to move forward. Hopefully I can offer the needed info around Labs (with Nath

[2022-05-11 11:30] theo-cox commented on #44
P.s. @khalilcodes see here for WIP brand narrative and useful summary excalidraw re Labs: https://docs.google.com/document/d/1ONPuuaTI24NZhOEuO0Q2b77wNgzTXpcnfVLO2Ghjlz8/edit?usp=sharing

[2022-05-11 12:30] khalilcodes commented on #2
@nathenf
Some questions and requirements from tasks:

* *add ~~subscription form~~ banner (design above) to these [page locations]*
     - what is the required action for the ebook banners download now button ie., should they lead to the ebook landing page ?
* *Connect Mailchimp API to subscription forms*
     - Is the ebook form already setup in MailChimp ?
     - Need access to MailChimp for ebo

[2022-05-11 12:33] nathenf commented on #2
Hey @khalilcodes

Yes the banner should lead to the landing page

Yes the email is ready to go, but the form is not. We can do email verification I believe, try to send it and I will see if I receive it.

[2022-05-11 12:36] khalilcodes commented on #43
@nathenf
question from task above:

* *to add subscription form to the website footer*
      - There is a subscription form/Join our mailing list before the footer. Does this need to be removed since we are having it in the footer ? I think we had discussed this but sorry I forgot.

[2022-05-11 12:37] nathenf commented on #2
@khalilcodes I believe I don't have access to this email. @theo-cox can you get Khalil into Mailchimp?

[2022-05-11 12:41] nathenf commented on #2
@khalilcodes

This is the code for the form:

<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this

[2022-05-11 12:57] nathenf commented on #43
@khalilcodes yes please

[2022-05-11 13:06] khalilcodes commented on #44
Thanks @nathenf @theo-cox for elaborating on the concerns and explanations and also for the excalidraw. Look forward to our call. 👍

[2022-05-12 04:21] nathenf commented on #2
Hi @khalilcodes, so I've read up some more on GDPR and we do need to change the approach a little bit.

1. We need to add a check box for people to receive regular updates via email. Only if they check this box can we add them to our mailing list.
2. We need to make the check box add another tag to their contact "General" for example.

In summary we will have two tags - "Great Grasping Lead" and "

[2022-05-12 08:10] khalilcodes commented on #2
As I was adding the form yesterday, I did see that the form has already been setup with the 'general' GDPR tag.

To add/modify more GDPR tags I would need access to MailChimp, or the shared embedded code after it's been setup there accordingly.

[2022-05-17 06:02] nathenf opened #57 "Web3: KlimaDao Conversation Part 1"
## Acceptance

- [x] Rufus and Stephen have been updated that conversation is ready to be published on YouTube and Anchor.
- [x] Page stub has been made and URL generated
- [x] Conversation published on Youtube & Anchor
- [ ] Blog Post containing all content published
- [ ] Secondary Content and Direct links shared on Social Media

## Tasks

- [x] Duplicate this Template and rename as the working

[2022-05-17 08:00] EilidhRoss1 commented on #50
FIXED

[2022-05-17 08:00] #50 closed

[2022-05-21 06:09] nathenf commented on #43
Fixed - subscription form is now in the footer

[2022-05-21 06:09] #43 closed

[2022-05-23 05:44] nathenf commented on #2
Hey @khalilcodes I have now updated the designs to be GDPR compliant and also added another task to create a page for the privacy policy and hyperlink this in the forms.

[2022-05-26 14:23] EilidhRoss1 opened #58 "Exploring Social Transformation & Life Itself Labs"
## Acceptance

- [ ] Rufus and Stephen have been updated that conversation is ready to be published on YouTube and Anchor.
- [ ] Page stub has been made and URL generated
- [ ] Conversation published on Youtube & Anchor
- [ ] Blog Post containing all content published
- [ ] Secondary Content and Direct links shared on Social Media

## Tasks

- [x] Duplicate this Template and rename as the working

[2022-06-06 07:36] EilidhRoss1 opened #59 "Karl conversation"
## Acceptance

- [X] Conversation published on Youtube & Anchor ✅ **[YouTube](https://youtu.be/O6DOI65x3hI) [Anchor](https://anchor.fm/life-itself/episodes/Embodying-Collective-Transformation-with-Karl-Steyaert-e1jk724)**
- [X] Blog Post published  ✅ **[Blog](https://lifeitself.us/2022/06/09/embodying-collective-transformation-with-karl-steyaert/)**
- [X] Secondary Content and Direct links shared

[2022-06-09 04:54] nathenf commented on #7
Fixed - #26 is ongoing but another issue.

[2022-06-09 04:54] #7 closed

[2022-06-09 04:55] nathenf commented on #39
Not Fixed - This residency is postponed until further notice

[2022-06-09 04:55] #39 closed

[2022-06-09 04:57] nathenf commented on #57
@EilidhRoss1 is this one fully complete with notes etc?

[2022-06-09 05:04] nathenf commented on #53
Fixed - This is now in Process

[2022-06-09 05:16] nathenf commented on #21
Fixed - Residency ended

[2022-06-09 05:16] #21 closed

[2022-06-09 05:27] nathenf opened #60 "Template for Social Transformation Conversation"
## Acceptance

- [ ] Conversation published on Youtube & Anchor
- [ ] Blog Post containing all content published
- [ ] Secondary Content and Direct links shared on Social Media

## Tasks

- [ ] Duplicate this Template and rename as the working title of the conversation
- [ ] [Create a new folder for the conversation and assets here](https://drive.google.com/drive/folders/12BskqKPp85XNdU2sespI--E7V

[2022-06-09 05:29] nathenf commented on #60
@EilidhRoss1 I have separated out this template from the Web3 one to reflect the nuances between the two. Feel free to optimize this to include the instagram workflow

[2022-06-09 07:34] nathenf opened #61 "[EPIC] Email Marketing Make-Over"
**Situation**: Our open rate has been declining over the last months. Eilidh noticed that the newsletter has been going to her promotions tab rather than the main inbox on gmail. This is likely happening for others too.

With our output being a monthly newsletter, this type of email screams promotion (algorithmically) for a number of reasons:
1. Lots of links
2. Lots of images
3. Language like "Ap

[2022-06-09 08:01] EilidhRoss1 commented on #57
FIXED

[2022-06-09 08:01] #57 closed

[2022-06-09 08:13] theo-cox commented on #61
This looks like a great analysis @nathenf . Thanks for leadership on this.

[2022-06-10 07:46] nathenf commented on #61
What if we write our monthly digest as a blog post and then we can write a small simple email with one link + drive traffic to the website.

[2022-06-12 16:10] khalilcodes commented on #2
Hi @nathenf  please review new updates for the following.

- [x] [Privacy policy page](https://lifeitself.us/privacy-policy/)
- [x] [Ebook landing page](https://lifeitself.us/free-ebook-the-great-grasping-by-liam-kavanagh/)
- [x] [Popup form](https://lifeitself.us/?elementor_library=ebook-popup-template)
- [x] [Subscription banner](https://lifeitself.us/?elementor_library=ebook-banner-section)

Al

[2022-06-13 09:09] theo-cox commented on #2
Hi @khalilcodes I have shifted mailchimp login to have security questions to verify ID. Answers are in the "notes" section of the Bitwarden entry for mailchimp. You should therefore be able to login - do let me know if its not the case

[2022-06-13 09:28] EilidhRoss1 commented on #58
FIXED

[2022-06-13 09:28] #58 closed

[2022-06-13 09:33] EilidhRoss1 commented on #59
FIXED

[2022-06-13 09:53] khalilcodes commented on #2
Thanks @theo-cox will check it. 👍🏻

[2022-06-15 04:34] nathenf commented on #60
@EilidhRoss1 updated to include the email task

[2022-06-15 04:40] nathenf commented on #30
@EilidhRoss1 also updated for email sending task

[2022-06-15 05:13] nathenf commented on #2
@khalilcodes I am waiting to give you feedback, but unfortunately every time I check the website is down.

[2022-06-17 07:22] nathenf opened #62 "Nathen Fitchen & Brendan Graham Dempsey on The Meaning Crisis & Metamodern Spirituality"
## Acceptance

- [ ] Conversation published on Youtube & Anchor
- [ ] Blog Post containing all content published
- [ ] Secondary Content and Direct links shared on Social Media

## Tasks

- [x] Duplicate this Template and rename as the working title of the conversation
- [x] [Create a new folder for the conversation and assets here] (https://drive.google.com/drive/folders/12BskqKPp85XNdU2sespI--E7

[2022-06-17 09:58] nathenf commented on #2
@khalilcodes great work here are a few points for the page:

1. Can we change the slug for the ebook page to "Subscribe" instead
2. In the title "Why should you subscribe to our newsletter?", can you change our for "the Life Itself emails"
3. Can you make "Plus we send something extra to our subscribers when they sign-up" bold

For some reason the links to the pop-up and banner do not work for me.

[2022-06-18 11:33] rufuspollock opened #63 "Changing slugs on posts, intentional?"
Hi i just noticed that review of ken wilber integral spirituality slug had changed from

https://lifeitself.us/2019/01/22/ken-wilber-integral-spirituality/

https://lifeitself.us/2019/01/22/wilber/

So i changed it back (former is more informative and mildly better for SEO) - hope that is ok.

Wondered if there was a reason for this or an accident (and if the latter how that is happening ... as a

[2022-06-20 09:51] khalilcodes commented on #2
@nathenf.

Done.

what does it show ?

Form updated, so let's test it out.

[2022-06-21 06:44] nathenf commented on #2
@khalilcodes it just takes me to the homepage. However, I am not logged into Wordpress perhaps this could be why?

I tried to log in to Wordpress and got a 500 internal server error (nginx)

[2022-06-21 10:18] nathenf commented on #2
Okay got it now @khalilcodes I tried to sign up through the pop-up but it didn't work for me.

[2022-06-21 10:18] nathenf commented on #2
@khalilcodes the banner is great I just tweaked my own copy. Going to tweak something on the main page as well.

[2022-06-21 10:26] nathenf commented on #2
@khalilcodes can we change the arrow on the ebook landing page to match the one on the life itself main homepage. It's slightly shorter and the grey colour rather than black

[2022-06-21 10:31] nathenf commented on #2
@khalilcodes sorry for spamming, I could have put this all in one message...

The subscribers from the form in the pop-up and landing page must be tagged "Great Grasping Lead" to initiate the welcome email.

[2022-06-24 05:30] nathenf commented on #63
@rufuspollock we are going through the blogs finding evergreen content and optimizing for SEO and sharing. I agree the former slug is better for SEO

[2022-06-24 08:45] rufuspollock commented on #63
@nathenf 👍

My 2c: slug correction on old points has dubious RoI (i.e. not worth it IMO) and it would be worth recording where we are doing it in case we break links at some point (e.g. at some point soon we may move off wordpress which may mean we lose redirection database -- i would have assumed it wasn't that important at this point ...)

[2022-06-28 01:14] nathenf commented on #26
@EilidhRoss1 just wanted to flag #63 when going through and optimizing blogs let's avoid changing the slugs as this will break links if we have back links to these articles (as in external people linking to us).

[2022-06-28 01:15] nathenf commented on #62
FIXED - this one is done!

[2022-06-28 01:15] #62 closed

[2022-06-28 01:28] nathenf commented on #59
FIXED - Episode complete

[2022-06-28 01:28] #59 closed

[2022-06-28 02:09] nathenf opened #65 "Engagement drive for Twitter & Instagram"
Situation: Our Instagram and Twitter continues to grow in followers, but engagement remains relatively low.

Complication: Lack of engagement means we put time into creating content which isn't seen.

Question: How can we improve engagement?

Hypothesis: By having a focussed and consistent engagement strategy we can improve overall engagement and grow the brand extensively.

##Acceptance

- [ ] En

[2022-06-28 07:31] EilidhRoss1 commented on #26
Thanks for flagging 👍

[2022-06-29 07:41] EilidhRoss1 opened #66 "Jeff Emmett conversation"
## Acceptance

- [x] Page stub has been made and URL generated ✅ **https://web3.lifeitself.us/notes/jeff-emmett-on-regenerative-finance**
- [x] Conversation published on Youtube & Anchor ✅ **[Anchor](https://anchor.fm/life-itself/episodes/Rufus-Pollock-and-Jeff-Emmett-on-Regenerative-Finance-and-Web3-for-Public-Goods-e1kq45q)** **[Youtube](https://www.youtube.com/watch?v=31AoZgjTYwg)**
- [x] Secon

[2022-07-06 06:58] nathenf commented on #52
FIXED - The goals and outcomes were set out after the end of T1 rather than at the start of Q2 and the outcomes were quite aspirational for the month and a half until the end of the Quarter. However, with the trajectory we were on with Web3 it felt like we would easily be able to achieve these KPIs.

Web3 slowed down in the last month of Q2 and we were starting from scratch with the Social Transfo

[2022-07-06 07:00] nathenf commented on #2
@khalilcodes where are we on this?

[2022-07-12 03:38] nathenf commented on #63
FIXED - Received and acted upon

[2022-07-12 03:38] #63 closed

[2022-07-12 03:43] nathenf commented on #49
NOT FIXED - Merged with https://github.com/life-itself/community/issues/149

[2022-07-12 03:43] #49 closed

[2022-07-12 04:32] nathenf commented on #61
FIXED - Analytics and iterations ongoing, but shift has happened. So far our open rate has levelled around 43.5%, but with more regular emails, the amount of people engaging with our content is higher. This is a great step in the right direction and we continue to improve.

[2022-07-12 04:32] #61 closed

[2022-07-12 07:50] EilidhRoss1 commented on #66
FIXED

[2022-07-12 07:50] #66 closed

[2022-07-13 07:08] rufuspollock commented on #63
@nathenf can you confirm what was actual outcome i.e. have we stopped changing slugs? If we have changed slugs can we note them here (as per "recording where we are doing it" ...)

[2022-09-09 10:14] rufuspollock commented on #44
@theo-cox can we close this?

[2022-09-09 13:03] theo-cox commented on #44
Eh yeah why not. We don't yet have a complete design system but I think this is good enough for now.

[2022-09-09 13:04] theo-cox commented on #44
WONTFIX. We've got a website which works well for now. We can loop back to a full design system later.

[2022-09-09 13:04] #44 closed

[2022-11-01 14:56] nathenf commented on #54
NOT FIXED - not a priority and will likely not do this in the future

[2022-11-01 14:56] #54 closed

[2022-11-01 15:03] nathenf commented on #53
FIXED - Exploring Social Transformation Podcast Series is now closed. I have moved the interview list to https://docs.google.com/document/d/1HFPtTFH03Hxm6H-wy2xdX-kylnltunoXga7p7xTwi3k/edit?usp=share_link

[2022-11-01 15:03] #53 closed

[2022-11-01 15:04] nathenf commented on #65
FIXED - Engagement is now an ongoing comms task

[2022-11-01 15:04] #65 closed

[2022-11-01 15:06] nathenf commented on #60
FIXED - used for the series, this workflow is now saved here: https://docs.google.com/document/d/1dkW2rn3hBcKE2UvM4qElFQ8cja3DiUVsZVn0SL4DlNA/edit#heading=h.nfptqfxw5l4j

[2022-11-01 15:06] #60 closed

[2022-11-01 15:08] nathenf commented on #56
NOT FIXED - currently not needed and given capacity unlikely to change in the near future

[2022-11-01 15:08] #56 closed

[2022-11-01 15:11] #52 closed

[2022-11-01 15:13] nathenf commented on #48
FIXED - the spreadsheet exists, but there has not been so many concrete actions to include thus far https://docs.google.com/spreadsheets/d/1CFXX06GhUWDtUpplvg2L5OBwn_A-R23VxMXYvNN41uA/edit?usp=share_link

[2022-11-01 15:13] #48 closed

[2022-11-01 15:19] nathenf commented on #26
FIXED - we have done this

[2022-11-01 15:19] #26 closed

[2022-11-01 15:19] #34 closed

[2022-11-01 15:21] nathenf commented on #20
NOT FIXED - This task is being taken up for the [Epic] Wiser Newsletter

[2022-11-01 15:21] #20 closed

[2022-11-01 15:22] nathenf commented on #17
WONT FIX - Low priority and not important

[2022-11-01 15:22] #17 closed

[2022-11-01 15:24] nathenf commented on #30
FIXED - Web3 podcast is now closed. Workflow is stored for reference here: https://docs.google.com/document/d/14-Cm_MEzTpITbTmPivRKp-o33OYDew1jNV4pT4JHAWM/edit#

[2022-11-01 15:24] #30 closed